<div class="App">
  <form>
    <input  class="myInput"
            type="text"
            placeholder="Название поста"
            [(ngModel)]="addPostTitle"
            name="first"
    />
    <input  class="myInput"
            type="text"
            placeholder="Описание поста"
            [(ngModel)]="addPostBody"
            name="second"
    />
    <button class="myBtn" (click)="addNewPost()">Создать пост</button>
  </form>
  <app-post-list [postArray]="postArray" [title]="title"></app-post-list>
</div>
