/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root{
  display: flex;
  justify-content: center;
}

.myBtn{
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.myInput{
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
}
